<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Росписание</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #c2d9f0">
<nav class="navbar navbar-expand-lg navbar-dark bg-#002e62">
    <div class="container-fluid" style="background-color: #002e62">
        <div class="navbar-header">
            <h1 class="text-white">Расписание занятий КПК</h1>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <button class="btn btn-light my-2 mx-2 " type="submit">Войти</button>
                <svg width="3em" height="3em"  viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
            </ul>
        </div>
    </div>
</nav>
<div class="w-50 mx-2" style="background-color: #396bc1">
    <form>
        <div class="row">
            <div class="col mx-2 py-2">
                <input type="text" class="form-control" placeholder="Выберите группу">
            </div>
            <div class="col mx-2 py-2">
                <input type="text" class="form-control" placeholder="Выберите Преподователя">
            </div>
        </div>
    </form>
</div>
<div class="container-fluid mx-1 mt-2" style="background-color: #c2d9f0" >
    <div class="row" style="background-color: #002e62">
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Время</p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p> Ср, 23 </p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Чт, 24</p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Пт, 25</p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Сб, 26</p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Пн, 28</p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Вт, 29</p>
        </div>
        <div class="col-md mx-1" style="background-color: #fff">
            <p>Ср, 30</p>
        </div>
    </div>
</div>
</body>
</html>